@font-face {
    font-family: "Work sans";
    font-weight: 700;
    src: url("./src/assets/fonts/WorkSans-700.ttf");
}

@font-face {
    font-family: "Work sans";
    font-weight: 600;
    src: url("./src/assets/fonts/WorkSans-600.ttf");
}

@font-face {
    font-family: "Work sans";
    font-weight: 400;
    src: url("./src/assets/fonts/WorkSans-400.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

